.gradient-generated {
  /* background: linear-gradient(
    180deg,
    rgba(11, 9, 8, 1) 0%,
    rgba(30, 27, 80, 1) 35%,
    rgba(142, 144, 188, 1) 100%
  ); */
  background: url("/walp.jpg");
}

.father-color {
  background-color: #101010;
  border-color: #424242 !important;
}

.navList {
  list-style-type: none;
  padding-left: 0;
}

.liEl {
  background-color: black;
  cursor: pointer;
  border: 1px solid whitesmoke;
  border-color: #424242 !important;
  transition-duration: 0.3s;
}

.liEl:hover {
  background-color: rgb(31, 28, 28);
  transition-duration: 0.3s;
}

a:hover {
  text-decoration: none;
}

#figlioletto {
  max-height: 100%;
  max-width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 12px 12px 7px rgba(0,0,0,0.6); 
  box-shadow: 0px 12px 12px 7px rgba(0,0,0,0.6);
}

#figliolino {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

#immagine-dettaglio{

}